html, body, .row {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin: 0;
}

.itemContent {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    visibility: hidden;
}

.itemImageBox {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.slotNumber {
    font-size: 1rem;
    position: absolute;
    padding: 5px;
    background: rgba(21, 21, 21, 0.6);
    color: white;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.itemCount {
    right: 0px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    padding: 4px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.itemImage {
    display: block;
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 20%;
}

.itemText {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-top: 1px;
    color: rgba(255, 255, 255, 1);
}

.itemTextBox {
    width: 100%;
    height: 20%;
    background-color: rgba(21, 21, 21, 0.6);
    text-align: center;
    font-size: 0.41rem;
    position: absolute;
    padding: 2px;
    bottom: 0px;
}

.row {
    margin: 8% 5% 3%;
    padding: 2% 5% 2%;
    height: 60%;
}

.containerContent {
    height: 100%;
    font-size: 0;
}

.playerInventory {
    float: left;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0); 
    overflow-x: hidden;
    overflow-y: auto;
}

.playerUtils {
    float: left;
    width: 20%;
    height: 100%;
    padding-top: 15rem;
}

input {
    text-align: center;
    width: 45%;
    height: 5%;
    margin: auto;
    display: block;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.secondaryInventory {
    float: left;
    width: 40%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.item {
    margin: 1px;
    background-color: white;
    display: block;
    outline: solid;
    outline-width: 1px;
    position: relative;
    opacity: 75%;
    color: rgba(0, 0, 0, 0.0);
}

/* Clear floats after the columns */

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e84545; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e84545; 
  }

  .ui-draggable-dragging {
    z-index:99999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.giveItemButton {
    background-color: #e84545; /* Green */
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    border-radius: 8px;
    margin: auto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.giveItemButton:focus {
    outline:none !important;
}

.itemDataDisplay {
    height: 25%;
}